<h1>Lista de Productos</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= product.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No hay productos en la base de datos.</p>
<% end %>
